# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [22]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from g_api_key import g_key
print(g_key)

AIzaSyBL3qNHpdXiSozSfa-1yMuCQDscgOQTjSk

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [23]:
#open CSV file
city_weather_df = pd.read_csv("WeatherPy/output_data/cities.csv")

city_weather_df.head()

,Unnamed: 0,City,Latitude,Longitude,Max Temperature,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,hilo,19.73,-155.09,84.20,54,1,5.82,US,1593809865
1,1,tucupita,9.06,-62.05,81.23,84,100,5.23,VE,1593809918
2,2,yellowknife,62.46,-114.35,64.40,68,75,11.41,CA,1593809708
3,3,hobart,-42.88,147.33,44.60,70,75,14.99,AU,1593809812
4,4,chernenko,44.37,39.31,70.25,81,0,1.68,RU,1593809919

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [24]:
gmaps.configure(api_key="AIzaSyBL3qNHpdXiSozSfa-1yMuCQDscgOQTjSk")

In [25]:
location = city_weather_df[["Latitude", "Longitude"]]

humidity = city_weather_df["Humidity"]

fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(location, weights=humidity, dissipating=False, max_intensity=300, point_radius=5)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [30]:
#filtering weather data based on criteria
weather_criteria_df = city_weather_df.loc[city_weather_df["Max Temperature"] > 70]
weather_criteria_df = weather_criteria_df.loc[weather_criteria_df["Max Temperature"] < 80]
weather_criteria_df = weather_criteria_df.loc[weather_criteria_df["Wind Speed"] < 10]
weather_criteria_df = weather_criteria_df.loc[weather_criteria_df["Cloudiness"] == 0]
weather_criteria_df

,Unnamed: 0,City,Latitude,Longitude,Max Temperature,Humidity,Cloudiness,Wind Speed,Country,Date
4,4,chernenko,44.37,39.31,70.25,81,0,1.68,RU,1593809919
122,122,luderitz,-26.65,15.16,73.40,35,0,8.05,NaN,1593809943
174,174,brooks,50.58,-111.89,73.99,36,0,8.99,CA,1593809954
205,205,ferentino,41.70,13.26,75.99,62,0,2.13,IT,1593809959
254,254,milove,49.38,40.13,72.23,57,0,3.67,UA,1593809969
285,285,diego de almagro,-26.37,-70.05,73.11,23,0,8.03,CL,1593809975
294,294,asgabat,37.95,58.38,73.40,25,0,4.70,TM,1593809977
337,337,beyneu,45.32,55.20,78.42,18,0,2.77,KZ,1593809985
382,382,kelvington,52.17,-103.53,74.55,56,0,8.16,CA,1593809995
402,402,emba,48.83,58.14,70.32,70,0,6.78,KZ,1593809999
451,451,caravelas,-17.71,-39.25,73.20,87,0,4.54,BR,1593810013

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [33]:
hotel_df = weather_criteria_df[["City", "Country", "Latitude", "Longitude"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df

                 City Country  Latitude  Longitude Hotel Name
4           chernenko      RU     44.37      39.31
122          luderitz     NaN    -26.65      15.16
174            brooks      CA     50.58    -111.89
205         ferentino      IT     41.70      13.26
254            milove      UA     49.38      40.13
285  diego de almagro      CL    -26.37     -70.05
294           asgabat      TM     37.95      58.38
337            beyneu      KZ     45.32      55.20
382        kelvington      CA     52.17    -103.53
402              emba      KZ     48.83      58.14
451         caravelas      BR    -17.71     -39.25

In [49]:
params = {
    "radius": 5000,
    "types": "lodging",
    "key": "AIzaSyCcRjHjKMJXOClUhdsMF2-6ZuXoNMG1Hm0"
}

for index, row in hotel_df.iterrows():
    lat = row["Latitude"]
    lng = row["Longitude"]
    
    params["location"] = f'{lat},{lng}'
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    name_address = requests.get(base_url, params=params).json()
    
    print(name_address)
    
    try:
        hotel_df.loc[index, "Hotel Name"] == name_address["results"][0]["name"]
    except(KeyError, IndexError):
        print("Missing field/result...skipping")
        
hotel_df

{'error_message': 'This API project is not authorized to use this API.', 'html_attributions': [], 'results': [], 'status': 'REQUEST_DENIED'}
Missing field/result...skipping
{'error_message': 'The provided API key is expired.', 'html_attributions': [], 'results': [], 'status': 'REQUEST_DENIED'}
Missing field/result...skipping
{'error_message': 'This API project is not authorized to use this API.', 'html_attributions': [], 'results': [], 'status': 'REQUEST_DENIED'}
Missing field/result...skipping
{'error_message': 'This API project is not authorized to use this API.', 'html_attributions': [], 'results': [], 'status': 'REQUEST_DENIED'}
Missing field/result...skipping
{'error_message': 'The provided API key is expired.', 'html_attributions': [], 'results': [], 'status': 'REQUEST_DENIED'}
Missing field/result...skipping
{'error_message': 'The provided API key is expired.', 'html_attributions': [], 'results': [], 'status': 'REQUEST_DENIED'}
Missing field/result...skipping
{'error_message': 'This API project is not authorized to use this API.', 'html_attributions': [], 'results': [], 'status': 'REQUEST_DENIED'}
Missing field/result...skipping
{'error_message': 'This API project is not authorized to use this API.', 'html_attributions': [], 'results': [], 'status': 'REQUEST_DENIED'}
Missing field/result...skipping
{'error_message': 'The provided API key is expired.', 'html_attributions': [], 'results': [], 'status': 'REQUEST_DENIED'}
Missing field/result...skipping
{'error_message': 'The provided API key is expired.', 'html_attributions': [], 'results': [], 'status': 'REQUEST_DENIED'}
Missing field/result...skipping
{'error_message': 'This API project is not authorized to use this API.', 'html_attributions': [], 'results': [], 'status': 'REQUEST_DENIED'}
Missing field/result...skipping

                 City Country  Latitude  Longitude Hotel Name
4           chernenko      RU     44.37      39.31
122          luderitz     NaN    -26.65      15.16
174            brooks      CA     50.58    -111.89
205         ferentino      IT     41.70      13.26
254            milove      UA     49.38      40.13
285  diego de almagro      CL    -26.37     -70.05
294           asgabat      TM     37.95      58.38
337            beyneu      KZ     45.32      55.20
382        kelvington      CA     52.17    -103.53
402              emba      KZ     48.83      58.14
451         caravelas      BR    -17.71     -39.25

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure